<footer class="bg-secondary py-4">
    <div class="container-fluild container-lg  d-flex justify-content-between justify-content-md-start align-items-center">
        <h3 class="mr-4">
            <a href="index.html">
                <img class="img-fluid"
                    src="assets/images/d’Perfumewhite.png"
                    alt="D'Pereume LOGO">
            </a>
        </h3>
        <p class="text-sm text-white mb-0">© 2020. All Rights Reserved.</p>
        <ul class="d-none d-md-flex text-lg ml-auto">
            <li class="mr-7">
                <a class="text-white hover-opacity" href="#">Product</a>
            </li>
            <li class="mr-7">
                <a class="text-white hover-opacity" href="#">Blog</a>
            </li>
            <li>
                <a class="text-white hover-opacity" href="#">Contact</a>
            </li>
        </ul>
    </div>
</footer>