<nav class="navbar navbar-expand-md navbar-light px-0">
    <div class="container-fluild container-lg ">
        <h1 class="px-4 px-md-0">
            <a href="index.html" class="logo d-block text-hide">D'Pereume LOGO
            </a>
        </h1>
        <a class="d-block d-md-none ml-auto mr-4 position-relative" href="#">
            <i class="fas fa-shopping-cart text-lg text-gray-600"></i>
            <span class="cartQuantity">3</span>
        </a>
        <button class="navbarBur-btn navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars fa-2x text-gray-600"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto text-center">
                <li class="mr-md-7 order-0">
                    <a class="navbarBur-link d-block text-lg text-md-gray-600 py-3 py-md-0" href="product.html">
                        <i class="fas fa-store-alt d-none d-md-inline-block pr-1"></i>
                        Product
                    </a>
                </li>
                <li class="mr-md-7 order-4">
                    <a class="navbarBur-link d-block text-lg text-md-gray-600 py-3 py-md-0" href="login.html">
                        <i class="fas fa-user d-none d-md-inline-block pr-1"></i>
                        <%- loginandmember %>
                    </a>
                </li>
                <li class="mr-md-7 order-1">
                    <a class="navbarBur-link d-block text-lg text-md-gray-600 py-3 py-md-0" href="#">
                        <i class="fas fa-heart d-none d-md-inline-block pr-1"></i>
                        Wishlist
                    </a>
                </li>
                <li class="d-none d-md-block order-5">
                    <a class="navbarBur-link d-block text-lg text-md-gray-600 py-3 py-md-0" href="#">
                        <i class="fas fa-shopping-cart d-none d-md-inline-block pr-1"></i>
                        Cart(3)
                    </a>
                </li>
                <li class="d-block d-md-none order-2">
                    <a class="navbarBur-link d-block text-lg text-md-gray-600 py-3 py-md-0" href="#">
                        Blog
                    </a>
                </li>
                <li class="d-block d-md-none order-3">
                    <a class="navbarBur-link d-block text-lg text-md-gray-600 py-3 py-md-0" href="#">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

