<div class="subscribe-pic bg-cover d-flex" style="background-image: url(assets/images/index10.jpg);">
    <div class="container-fluild container-lg d-flex align-items-center">
        <div class="row" data-aos="fade-up">
            <div class="col">
                <h3 class="text-3xl text-gray-600 font-weight-bold mb-4">
                    記得 <br>
                    訂閱以獲取更多資訊！
                </h3>
                <form action="#">
                    <div class="d-flex">
                        <input class="inputclose-input flex-grow-1 flex-shrink-0 flex-basis-60 form-control border-primary border-bold py-5 " type="email"
                            name="subscribeEmail" placeholder="Your email address">
                        <button class="inputclose-btn flex-grow-1 flex-shrink-0 flex-basis-40 btn btn-primary border-secondary" type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>