// navbar
.logo{
    background: url(../images/d’Perfume.png) no-repeat;
    width: 128px;
    height: 38px;
}
.navbarBur{
    &-btn{
        &:focus{
            outline: none;
        }
    }
    &-link{
        background:#707070;
        color:$white;
        border-bottom:1px solid $white;
        &:hover{
            background: $secondary-light;
            color:$white;
        }
        @include media-breakpoint-up(md) { 
            background:transparent;
            color:$gray-600;
            border:none;
            &:hover{
                background: transparent;
                color: $secondary-light;
            }
        }
    }
}
.cartQuantity{
    position: absolute;
    right:-8px;
    top:-7px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color:$white;
    background: $secondary;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// subscribe
.subscribe{
    &-pic{
        min-height: 600px;
    }
}