//======= index.html
.intr-img{
    min-height: 350px;
    &-xl{
        min-height: 680px;
    }
    @include media-breakpoint-up(md) {
        &{
            min-height: 555px;
        }
        &-xl{
            min-height: 1080px;
        }
        
    }
}

// Feature
.feature{
    &-img{
        position: relative;
        height: 350px;
        @include media-breakpoint-up(md) {
            height: 540px;
        }
    }
}

//
.article{
    &-img{
        height:520px ;
    }
}

//======= login.html
.login-img{
    height: 220px;
    @include media-breakpoint-up(md){
        height: 730px;
    }
}
//======= product.html
.product{
    &-img{
        height: 165px;
        @include media-breakpoint-up(md){
            height: 255px;
        }
    }
}
