//圖片類

//Background
.bg-cover{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

// img
.object-fit{
    &-fill{
        object-fit: fill;
    }
    &-contain{
        object-fit: contain;
    }
    &-cover{
        object-fit: cover;
    }
    &-none{
        object-fit: none;
    }
    &-scaledown{
        object-fit: scale-down;
    }
}
.object-position-center{
    object-position:center;
}
.object-position-l{
    object-position:left ;
}
.object-position-b{
    object-position: bottom;    
}

// hover opacity | filter-brightnress | transform-y | cursor
.hover{
    &-opacity{
        opacity: 1;
        &:hover{
            opacity: 0.5;
        }
    }
    &-filter-brightnress{
        transition: all .5s;
        &:hover{
            filter: brightness(70%);
        }
    }
    &-transform-y{
        transition: all .5s;
        &:hover{
            transform: translateY(-10px);
        }
    }
    &-cursor{
        &:hover{
            cursor: pointer;
        }
    }
}
//Border
.border-bold{
    border-width: 2px;
}

// divider
.divider{
    height: 0;
    overflow: hidden;
    border-top: 1px solid #818A91;
}

// position-absolute top | bottom | left | right
.position-absolute{    
    @include media-breakpoint-up(md){
        &-md-top{
            position: absolute;
            top:0;
        }
        &-md-bottom{
            position: absolute;
            bottom:0;
        }
        &-md-right{
            position: absolute;
            right: 0;
        }
        &-md-left{
            position: absolute;
            left: 0;
        }
    }
    @include media-breakpoint-up(lg){
        &-md-top{
            position: absolute;
            top:0;
        }
        &-md-bottom{
            position: absolute;
            bottom:0;
        }
        &-md-right{
            position: absolute;
            right: 0;
        }
        &-md-left{
            position: absolute;
            left: 0;
        }
    }
}

// Form - input 與 button 並排
.inputclose{
    &-input{
        border-radius: 4px 0 0 4px;
        // flex:1 0 60%;
    }
    &-btn{
        border-radius: 0 4px 4px 0;
        display: inline-block;
        // flex:1 0 40%;
        margin-left: -1px;
        border:1px solid transparent;
    }
}

// flex - grow shrink basis
.flex{
    &-grow-1{
        flex-grow: 1;
    }
    &-shrink-0{
        flex-shrink: 0 ;
    }
    &-basis-40{
        flex-basis: 40%;
    }
    &-basis-50{
        flex-basis: 50%;
    }
    &-basis-60{
        flex-basis: 60%;
    }
}