// Font size - breakpoint
@each $breakpoint in map-keys($grid-breakpoints) {
    @each $size, $value in $font-size {
        @include media-breakpoint-up($breakpoint) {
            $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
            
            .text#{$infix}-#{$size} {
                font-size: $value !important;
            }
        }        
    }
}


// Button - hover 不透明 (index header 的按鈕)
@each $color , $value in $theme-colors{
    .btn-opacity-#{$color}{
        color: $value;
        background-color:transparent ;
        border:2px solid $value;
        &:hover{
            background-color:rgba($value , 0.4);
            color:$value;
        }
    }
}


// sold out 標籤 與 圖片遮罩
.img-mask{
    filter: brightness(70%);
}
.soldout{
    position: absolute;
    color:#fff;
    transform:  translate( -50% , -50%);
    top: 50%;
    left:50%;
    white-space: nowrap;
    font-size: 24px ;
    font-weight: 600;
}

// pagination
.customPagination{
    display: flex;
    padding-left: 0;
}
.customPage{
    &-link{
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        background-color: #fff;
        font-size: 20px;
        color: $dark;
        &.active , &:hover{
            color: $secondary-light;
            text-decoration: underline;
        }  
    }     
}



